* , html {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(34, 34, 33);
  position: fixed;
  z-index:9999;
  margin: auto;
}

.navbar-brand {
  margin-left:20px;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  margin-right: 30px;
}

.navbar-nav .nav-link:hover {
  color: #ffdd57;
}

section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

/* CARD */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 18rem;

}
.card-body {
  padding: 10px;
  text-align: center;
}
/* CARD */

/* HOME */
.home {
  background: url('../img/gd_sd.jpg') no-repeat center center/cover;
  color: white;
  padding: 100px 0;
  text-align: center;
}

.home h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.home p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
/* HOME */

/*Tentang Kami */
.tentangkami {
  background: #ffffff;
  padding: 80px 0;
}

.tentangkami h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
  font-align:bold;
  border-bottom: 1px solid rgb(34, 34, 33);
}
.tentangkami p {
  text-align: center;
  font-size: 20px;
}
/*Tentang Kami */

/* KEGIATAN */
.kegiatan {
  background: #ffffff;
  padding: 80px 0;
}

.kegiatan h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-align:bold;
}
.kegiatan p {
  text-align: center;
  font-size: 12px;
}

.kegiatan-text{
  font-size: 10px;
}

/* KEGIATAN */

/* BERITA */
.berita {
  background: #ffffff;
  padding: 80px 0;
}

.berita h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-align:bold;
}
.berita p {
  text-align: center;
  font-size: 20px;
}
/* BERITA */

/* KONTAK*/
.kontak {
  background: #ffffff;
  padding: 80px 0;
}

.kontak h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
  font-align:bold;
}
.kontak p {
  text-align: center;
  font-size: 20px;
}

.kontak .card {
  transform:none;
}

.kontak .card-body {
  text-align: left;
}

.form-label {
  font-size: 20px;
}

/* KONTAK*/
